/*
 * header styles
 */
 header h2 {
   margin: 0 auto 1.5rem;
  }

.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  height: 520px;
  padding-top: 120px;
  position: relative;
  width: 100%;
  
  background-color: #C4F1F1;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  color: #1b262c;
}