/*
 * nav styles
 */
nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #1b262c;
  color: #bbe1fa;
  height: 120px;
  padding: 1.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* nav brand logo*/
nav span {
  display: flex;
  align-items: center;
  font-family: 'Bungee', cursive;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fa-angle-double-down {
  color: red;
}