/*
 * nav styles
 */
nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  
  height: 120px;
  padding: 1.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;

  background-color: #72DCCA;
  color: #1b262c;
}

/* Nav tweeter brand logo*/
nav span {
  display: flex;
  align-items: center;

  font-family: 'Bungee', sans-serif;
  font-size: 2rem;
}

/* Navbar right side (text and compose icon) */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: url('https://img.icons8.com/cotton/64/000000/edit--v1.png'), pointer;
}


/* Compose icon */
.fa-angle-double-down {
  animation: pulse 1.5s ease infinite;
}

/* For icon animation */
@keyframes pulse {
	0%, 100% {
    transform: translateY(0%);
		color: #FF9494;
	}
	50% {
    transform: translateY(100%);
		color: #FF4747;
	}
}