/*
 * nav styles
 */
nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  
  height: 120px;
  padding: 1.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;

  background-color: #72DCCA;
  color: #1b262c;
}

/* nav brand logo*/
nav span {
  display: flex;
  align-items: center;

  font-family: 'Bungee', sans-serif;
  font-size: 30px;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fa-angle-double-down {
  color: #ff6060;
}