/*
* new-tweet styles
*/
main button {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;

  background-color: #72DCCA;
  color: #1b262c;
}

/* New tweet section */
main .new-tweet {
  display: none;
}

/* Footer of new tweet (tweet button and character counter) */
.new-tweet div {
  display: flex;
  justify-content: space-between;

  font-family: 'Bungee', sans-serif;
}

/* Textbox input */
#tweet-text {
  border: none;
  border-bottom: 0.2rem solid #1b262c;
  margin: 2rem auto 1rem;
  outline: none;
  width: 100%;

  background: transparent;
  color: #1b262c;
  resize: none;
}

/* Error message */
#error-message {
  margin: 1rem 0 1rem;
  padding: 1rem 0 1rem;
  display: none;

  color: #1b262c;
  background-color: #FF9393;
  border-radius: 8px;

  text-align: center;
}

/* Added to text counter once character limit is exceeded */
.exceeded-limit {
  color: #ff6060;
}