/*
* new-tweet styles
*/
main button {
  padding: 0.5rem;

  background-color: #72DCCA;
  border: none;
  border-radius: 4px;
  color: #1b262c;
}

.new-tweet {
  width: 100%;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;

  font-family: 'Bungee', sans-serif;
}

#tweet-text {
  border: none;
  border-bottom: 0.2rem solid #1b262c;
  margin-bottom: 1rem;
  outline: none;
  width: 100%;

  background-color: inherit;
  color: #1b262c;
  resize: none;
}
