/*
* Posted tweets styles
*/
/* Tweet article container (one per tweet) */
.tweet {
  border-radius: 12px;
  margin: 2.5rem 0;
  padding: 1.5rem;
  background-color: #E4FFFE;
}

/* Tweet header container (avatar, name and handle) */
article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Tweet avatar image */
article.tweet img {
  margin-right: 0.5rem;
  width: 40px;
}

/* Tweeter's username */
article.tweet .username {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Tweeter's handle */
article.tweet .handle{
  color: #585858;
  font-size: 1.5rem;
}

/* Tweet content/text */
article.tweet p {
  margin-top: 2rem;
  margin-bottom: 0;
  padding-bottom: 0.75rem;
  border-bottom: 0.2rem solid #484848;
  word-break: break-all;
}

/* Tweet footer (date and icons) */
article.tweet footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  color: #585858;
  font-size: 1.1rem;
}

/* Tweet footer icons */
article.tweet footer i {
  padding-left: 0.2rem;
  color: #F98AAC;
}

/* Hover state for tweet container */
.tweet:hover {
  box-shadow: 6px 8px 6px 5px #FFB3C8;
}

/* Hover state for each footer icon */
article.tweet footer i:hover {
  color: #72DCCA;
}
